*.pydevproject
.project
.metadata
[Tt]mp/
[Oo]bj/
[Pp]po/
[Hh]do/
[Oo]bj1811/
[Pp]po1801/
[Pp]po1811/
[Dd]atos/
[Ff]ont/
[Cc]lient/
[Ii]ss/[Ee]xe/
[Ii]nclude/
[Pr]rg/[Ss]amples/
[Pr]rg/.idea/
[Pr]rg/.vscode/
[Bb]ic/
[Bb]in/
[Bb]in/[Ii]magen/
[Bb]in/[Bb]mp/
[Bb]in/[Dd]atabase/
[Bb]in/[Dd]ocuments/
[Bb]in/[Dd]ocuments/[Ee]mp00VG/
[Bb]in/[Dd]ocuments/[Ee]mp00VG/facturas_clientes/
[Bb]in/[Cc]onfig/
[Bb]in/[Cc]onfig/[Ss]ql

*.tmp
*.bak
*.swp
*.res
*.log
*.dbf
*.cdx
*.ntx
*.fpt
*.dbw
*.dbt
*.dll
*.ocx
*.obj
*.exe
*.caj
*.num
*.ini
*.chr
*.add
*.ai
*.am
*.cfg
*.tds
*.chr
*.nil
*.usr
*.txt
*.map
*.lic
*.zip
*.rar
*.adt
*.$$$
*.dmp
*.ppo
*.csv
*.db
*.lib
*.nil
*.old
*.jpg
*.mbk
*.xls
*.dbk
*.jar
*.html
*.all
*.hbr
*.xml
*.bat
*.~pt
*.dbu
*.eje
*.oxps
*.sql
*.fr3
*.

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
